<div class="table view">
	<div class="meta">{metaText}</div>
	{#if rows.length > 0 && fields.length > 0}
		<VirtualList items='{rows}' {fields} component='{Row}' />
	{/if}
</div>

<style type="text/stylus">
	.table
		border 2px solid #000
	.view
		position absolute
		top 0
		right 0
		bottom 0
		left 0
	.meta
		position absolute;
		bottom 0
		right 0
		transform translate(0, 100%)
</style>

<script>
import { ipcRenderer } from 'electron';
import VirtualList from '../VirtualList.html';
import Row from '../Row.html';

export default {
	components: {
		VirtualList
	},

	computed: {
		metaText: ({ processing, rows, showMeta }) => {
			if (processing === true) {
				return 'Querying...';
			} else if (showMeta) {
				return `${rows.length} rows`;
			} else {
				return '';
			}
		}
	},

	oncreate () {
		const { rows, fields } = this.store.get();

		console.log('rows', rows);
		console.log('fields', fields);

		this.set({ rows: [], fields: [] });
		if (rows) {
			this.set({ rows, fields });
		}
		this.store.on('update', ({ changed, current }) => {
			if (changed.rows === true) {
				this.set({ rows: current.rows, fields: current.fields });
			}
		});

		ipcRenderer.on('query-ok', (event, { query }) => {
			this.set({ processing: false });
			// console.clear();
			console.log(query);
			// console.log(rows);
		});
		ipcRenderer.on('query-sent', () => {
			this.set({ processing: true, showMeta: true, rows: [], fields: [] });
		});
	},

	data () {
		return {
			fields: [],
			rows: [],
			processing: false,
			showMeta: false,
			Row
		};
	}
};
</script>
