<div id="input-container">
	<div id="help-text" style="display:{helpDisplay}">{helpText}</div>
	<div id="textarea-container" ref:textarea>
		<!-- <textarea ref:textarea id="input-textarea" placeholder="SQL query..." bind:value="query" on:keypress="handleKeypress(event)"></textarea> -->
	</div>
	<button id="input-button" on:click="onQuery()">Query</button>
</div>

<style type="text/stylus">
	#input-container
		margin-bottom 21px
		margin-top 35px
		width 100%
		position relative
	
	#help-text
		position absolute
		top 3px
		left 0
		background-color red
		display inline
		color darken(red, 50%)
		transform translate(0, -100%)
		z-index -1
		padding 2px 4px
		font-size 13px
		border 1px solid darken(red, 40%)

	#textarea-container
		width 100%
		font-size 14px
		border-radius 5px 5px 0 0
		border 2px solid #000
		margin 0 
		min-height 75px
	button
		width 100%
		font-size 16px
		background #54d48b
		border 2px solid #000
		border-top none
		cursor pointer
		padding 8px
		margin 0
		&:hover
			background #4dc37f
		&:active
			background #44ad71
</style>

<script>
	import { ipcRenderer } from 'electron';
	import CodeMirror from 'codemirror';

	export default {
		computed: {
			helpDisplay: ({helpText}) => {
				if (helpText) return 'inline';
				return 'none';
			}
		},
		data () {
			return {
				query: '',
				helpText: '',
				flavor: 'pg'
			}
		},

		oncreate () {
			const { textarea } = this.refs;

			CodeMirror(textarea, {
				value: 'select * from my_table;\n\n',
				mode: 'text/x-sql',
				lineNumbers: true,
				autofocus: true
			});

			ipcRenderer.on('query-error', (event, err, errMessage) => {
				console.error(err);
				// TODO, highlight error position in the text editor
		    this.set({helpText: `Error: ${errMessage}`})
			});
			ipcRenderer.on('query-ok', (event) => {
		    this.set({helpText: ''});
			});
		},

		methods: {
			handleKeypress (e) {
				if (e.code === 'Enter' && e.altKey === true) {
					// TODO, add a flash on submit
				  this.onQuery();
				}
			},
			onQuery () {
				const {query, flavor} = this.get();
				if (query.trim()) {
					ipcRenderer.send(`query-${flavor}`, query);

				  // queryDb(query, (err, json) => {
				  //   if (err) {
				  //     console.error(err);
				  //     this.set({helpText: err})
				  //   } else {
				  //   	this.set({helpText: ''})
				  //     // saveQuery(query);
				  //     // displayResults(json);
				  //   }
				  // });
				} else {
					this.set({helpText: 'Please enter a query. For example `SELECT * FROM my_table;`'})
				}
			}
		}
	}
</script>
