<div id="input-container">
	<div id="help-text" style="display:{helpDisplay}">{helpText}</div>
	<div id="textarea-container" ref:textareaContainer on:click="setFocus()"></div>
	<button ref:button id="input-button" on:click="onQuery()">Query</button>
</div>

<style type="text/stylus">
	$button-color = #54d48b
	$button-hover-color = shade($button-color, 8%)
	$button-active-color = shade($button-color, 18%)

	#input-container
		margin-bottom 14px
		margin-top 7px
		width 100%
		position relative
		height 229px
	#help-text
		position absolute
		top 3px
		left 0
		background-color red
		display inline
		color darken(red, 50%)
		transform translate(0, -100%)
		padding 2px 4px
		font-size 13px
		border 1px solid darken(red, 40%)

	#textarea-container
		width 100%
		font-size 14px
		border-radius 5px 5px 0 0
		border 2px solid #000
		margin 0
		height calc(100% - 36px)
		&:before
			content ' '
			position absolute
			top 0
			left -1px
			bottom 0
			z-index -1
			width 30px
			background #f7f7f7
			border-right 1px solid #ddd
	button
		width 100%
		font-size 16px
		background #54d48b
		border 2px solid #000
		border-top none
		cursor pointer
		padding 8px
		margin 0

	button:hover {
		background: $button-hover-color;
	}

	button:active {
		background: $button-active-color;
	}

	:global(button.active) {
		animation: simulateActiveState 135ms 1;
	}

	@keyframes simulateActiveState {
		0% {
			background-color: $button-active-color;
		}

		100% {
			background-color: $button-color;
		}
	}
</style>

<script>
import { ipcRenderer } from 'electron';
import CodeMirror from 'codemirror';
import sql from 'codemirror/mode/sql/sql.js'; // eslint-disable-line no-unused-vars
import sublime from 'codemirror/keymap/sublime.js'; // eslint-disable-line no-unused-vars
import matchBrackets from 'codemirror/addon/edit/matchbrackets.js'; // eslint-disable-line no-unused-vars
import closeBrackets from 'codemirror/addon/edit/closebrackets.js'; // eslint-disable-line no-unused-vars
import placeholder from 'codemirror/addon/display/placeholder.js'; // eslint-disable-line no-unused-vars

let cm;

export default {
	computed: {
		helpDisplay: ({helpText}) => {
			if (helpText) return 'inline';
			return 'none';
		}
	},
	data () {
		return {
			helpText: '',
			flavor: 'pg'
		};
	},

	oncreate () {
		const { textareaContainer } = this.refs;
		const { query } = this.store.get();

		this.refs.button.addEventListener('animationend', () => this.refs.button.classList.remove('active'));
		this.refs.button.addEventListener('webkitAnimationEnd', () => this.refs.button.classList.remove('active'));

		cm = CodeMirror(textareaContainer, {
			placeholder: 'SQl query...',
			value: query || '',
			mode: 'text/x-pgsql',
			lineNumbers: true,
			indentWithTabs: true,
			smartIndent: true,
			keyMap: 'sublime',
			matchBrackets: true,
			autoCloseBrackets: true,
			autofocus: true,
			extraKeys: {
				'Ctrl-Space': 'autocomplete',
				'Cmd-Enter': (el) => {
					this.onQuery();
				}
			}
		});

		this.store.on('state', ({ changed, current }) => {
			if (changed.query === true) {
				// For some reason this resets the cursor pos so stash it and reset it
				const cursor = cm.getCursor();
				cm.setValue(current.query);
				cm.focus();
				cm.setCursor(cursor);
			}
		});

		// cm.on('change', (el) => {
		// 	this.store.set({ query: el.getValue() });
		// });

		ipcRenderer.on('query-error', (event, err, errMessage) => {
			console.error(err);
			// TODO, highlight error position in the text editor
			this.set({helpText: `Error: ${errMessage}`});
		});
		ipcRenderer.on('query-ok', (event) => {
			this.set({helpText: ''});
		});
	},

	methods: {
		setFocus () {
			cm.focus();
		},
		onQuery () {
			const query = cm.getValue();
			const { flavor } = this.get();
			if (query.trim()) {
				ipcRenderer.send(`query-${flavor}`, query);
			} else {
				this.set({
					helpText: 'Please enter a query. For example `SELECT * FROM my_table;`'
				});
			}
		}
	}
};
</script>
