<div class="connection-container">
	<div id="constring">
		<label for="constring">Connection string <span>(postgres://user:pw@domain/database)</span></label>
		<input bind:value="constring" value="postgres://mhk@localhost/mhk" type="text" name="constring"/>
	</div>
</div>
<button ref:connect on:click="connect()">Connect</button>
<div ref:recentList>
	<div class="recent-title">Recent...</div>
	{#each recent as cstr}
		<ul>
			<li class="recent-item" on:click="loadConnection(cstr)"><span>{cstr}</span></li>
		</ul>
	{:else}
		<div style="font-style:italic;">~recent connections will appear here~</div>
	{/each}
</div>

<style type="text/stylus">
	label,
	input
		display block
	label span
		color #aaa
	input
		width 100%
		font-size 21px
		border 1px solid #000
		outline none
		padding 5px 5px 7px 7px
	button
		font-weight normal

	ref:connect
		width 100%
		position relative
		margin-top 10px
		color #ccc
		cursor pointer
		color #000
		background-color #409fe7
		border 1px solid #000
		pointer-events all
		&:hover
			background-color #2a94e5
		&:active
			background-color #1b87da
	ref:recentList
		margin-top 14px
		.recent-title
			font-weight bold
		ul
			padding-left 10px
			margin 0
		li
			list-style none
			cursor pointer
			&:hover
				span
					text-decoration underline
			span
				color #037ee3
			&:before
				content '- '
</style>

<script>
import path from 'path';
import { ipcRenderer, remote } from 'electron';
import readJSON from '../shared/readJSON';

const userData = remote.app.getPath('userData');
const recent = readJSON(path.join(userData, 'recent.json')) || {};

export default {
	data () {
		return {
			recent: recent.pg || [],
			constring: 'postgres://mhk@localhost/mhk'
		};
	},

	helpers: {
		basename: path.basename
	},

	oncreate () {
		ipcRenderer.on('status', (event, status, errMsg) => {
			this.set({ status });
		});
	},

	methods: {
		loadConnection (constring) {
			this.set({constring});
			this.connect();
		},
		connect () {
			// el.classList.add('connecting')
			// el.dataset.status = 'connecting';
			const { constring } = this.get();
			ipcRenderer.send('connect-pg', constring);
		}
	}
};
</script>
