<div class="connection-container">
	<div id="constring">
		<label for="constring">Connection string <span>(postgres://user:pw@domain/database)</span></label>
		<input bind:value="constring" type="text" name="constring"/>
	</div>
</div>
<button id="connect" on:click="connectPg(this)">Connect</button>

<style type="text/stylus">
	label,
	input
		display block
	label span
		color #aaa
	input
		width 100%
		font-size 21px
		border 1px solid #000
		outline none
		padding 5px 5px 7px 7px
			
	#connect
		width 100%
		position relative
		margin-top 10px
		color #ccc
		cursor pointer
		color #000
		background-color #409fe7
		border 1px solid #000
		pointer-events all
		&:hover
			background-color #2a94e5
		&:active
			background-color #1b87da
</style>

<script>
	import { remote, ipcRenderer } from 'electron';

	export default {
		data() {
			return {
				constring: ''
			};
		},

		oncreate() {
			ipcRenderer.on('status', (event, status, errMsg) => {
				this.set({ status });
			});
		},

		methods: {
			connectPg(el) {
				el.classList.add('connecting')
				// el.dataset.status = 'connecting';
				const { constring } = this.get();
				ipcRenderer.send('connect-pg', constring);
			}
			// openExistingProject(dir) {
			// 	ipcRenderer.send('open-existing-project', dir);
			// },

			// createNewProject() {
			// 	ipcRenderer.send('create-new-project');
			// }
		}
	};
</script>
