<div class="connection-container">
	<div id="drop-target">
		<input class="upload-input" type="file" use:dragndrop/>
	</div>
</div>

<style type="text/stylus">
	#drop-target
		width 100%
		border 3px dashed #000
		height 50vh
		position relative
		margin-top 21px
		&:hover
			cursor pointer !important
	:global(#drop-target.active),
	#drop-target:active
		border 3px solid #000
	:global(#drop-target.active:after)
		content 'Drop drop drop...' !important
	#drop-target:after
		content 'Drag sqlite file...'
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		pointer-events none
	input
		opacity 0
		width 100%
		height 100%
		&:hover
			cursor pointer !important
</style>

<script>
import { ipcRenderer } from 'electron';

export default {
	oncreate () {
		ipcRenderer.on('status', (event, status, errMsg) => {
			this.set({ status });
		});
	},

	actions: {
		dragndrop (node, text) {
			function dragover () {
				node.parentNode.classList.add('active');
			}

			function dragleave () {
				node.parentNode.classList.remove('active');
			}

			function drop (e) {
				node.parentNode.classList.remove('active');
				node.parentNode.classList.add('processing');
				// TODO, maybe some type checking
				if (this.files && this.files[0]) {
					ipcRenderer.send('load-sqlite', this.files[0].path);
				}
			}

			node.addEventListener('dragover', dragover);
			node.addEventListener('dragleave', dragleave);
			node.addEventListener('change', drop);

			return {
				update (text) { },

				destroy () {
					node.removeEventListener('dragover', dragover);
					node.removeEventListener('dragleave', dragleave);
					node.removeEventListener('drop', drop);
				}
			};
		}
	}
};
</script>
