<div id="table"><VirtualList items={rows} fields={fields} component={Row} /></div>

<style type="text/stylus">
	#table
		border 2px solid #000
		width 100%
		height calc(100vh - 220px)

</style>

<script>
	import VirtualList from '../components/VirtualList.html';
	import { ipcRenderer } from 'electron';
	import Row from './Row.html';

	export default {
		components: { 
			VirtualList 
		},

		oncreate () {
			ipcRenderer.on('query-ok', (event, {rows, fields}) => {
				this.set({rows, fields});
			});
		},

		data() {
			return {
				fields: [],
				rows: [],
				Row
			};
		}
	};
</script>
