<div id="table">
	<div class="meta">{metaText}</div>
	{#if rows.length > 0 && fields.length > 0}
		<VirtualList items='{rows}' fields='{fields}' component='{Row}' />
	{/if}
</div>

<style type="text/stylus">
	#table
		border 2px solid #000
		width 100%
		display flex
		flex 1
	.meta
		position absolute;
		bottom 0
		right 0
		transform translate(0, 100%)
</style>

<script>
import VirtualList from '../components/VirtualList.html';
import { ipcRenderer } from 'electron';
import Row from './Row.html';

export default {
	components: {
		VirtualList
	},

	computed: {
		metaText: ({ processing, rows, showMeta }) => {
			if (processing === true) {
				return 'Querying...';
			} else if (showMeta) {
				return `${rows.length} rows`;
			} else {
				return '';
			}
		}
	},

	oncreate () {
		ipcRenderer.on('query-ok', (event, {rows, fields, query}) => {
			console.log('fields', fields);
			this.set({ processing: false, rows, fields });
			// console.clear();
			console.log(query);
			// console.log(rows);
		});
		ipcRenderer.on('query-sent', () => {
			this.set({ processing: true, showMeta: true, rows: [], fields: [] });
		});
	},

	data () {
		return {
			fields: [],
			rows: [],
			processing: false,
			showMeta: false,
			Row
		};
	}
};
</script>
