<svelte:window on:keydown="set({ key: event.key })" on:keyup="set({ key: ''})"/>

<pre id="tooltip" style="top: {y}px;left:{x}px;display: {showTooltip(overTd, key)}"><code>{ttVal}</code></pre>

<style type="text/stylus">
	#tooltip
		position absolute
		background-color #000
		font-family 'Andale mono', monospace
		color #ccc
		padding 10px
		font-size 16px
		word-wrap break-word
		border-radius 3px
		margin-top -25px
		max-width 250px
		max-height 250px
		transform translate(-50%, -100%)
		pointer-events none
		z-index 999999
</style>

<script>
	export default {
		helpers: {
			showTooltip (overTd, key) {
				if (overTd === true && key === 'Meta') {
					return 'block';
				}
				return 'none';
			}
		}
	};
</script>
