<div class="views-container">
	{#each $views as view}
		<div class="view-container {view.id === $activeViewId ? 'active' : 'hidden'} ">
			<svelte:component this={view.component}/>
		</div>
	{/each}
</div>

<style type="text/stylus">
	.views-container
		position relative
	.views-container
		width 100%
		display flex
		flex 1
	.view-container
		z-index 2
		position absolute
		top 0
		right 0
		bottom 0
		left 0
	.views-container :global(.view-container.hidden)
		opacity 0
		pointer-events none
		z-index -1
</style>

<script>
import Blank from './views/Blank.html';

const blankComponent = { component: Blank };

export default {
	data () {
		return {
			view: blankComponent
		};
	},
	oncreate () {
		this.store.on('update', ({ changed, current }) => {
			if (changed.activeViewId === true) {
				this.setActiveView();
			}
		});
		this.setActiveView();
	},
	methods: {
		setActiveView () {
			const { views, activeViewId } = this.store.get();
			this.set({ view: blankComponent });
			const view = views.find(d => d.id === activeViewId);
			this.set({ view });
		}
	}
};
</script>
