<div class="view-container">
	<svelte:component this={view.component}/>
</div>

<style type="text/stylus">
	.view-container
		width 100%
		display flex
		flex 1
</style>

<script>
import Blank from './views/Blank.html';

const blankComponent = { component: Blank };

export default {
	data () {
		return {
			view: blankComponent
		};
	},
	oncreate () {
		this.store.on('update', ({ changed, current }) => {
			if (changed.activeViewId === true) {
				this.setActiveView();
			}
		});
		this.setActiveView();
	},
	methods: {
		setActiveView () {
			const { views, activeViewId } = this.store.get();
			this.set({ view: blankComponent });
			const view = views.find(d => d.id === activeViewId);
			this.set({ view });
		}
	}
};
</script>
