<div id="view-switcher">
	<ul>
		{#each $views as view}
			<li class="view-tab {$activeViewId === view.id ? 'active' : ''}" on:click='setActiveView(view)'>{view.name}</li>
		{/each}
		<li ref:newView>+
			<select ref:dropdown on:change='addView(this)' style="opacity: 0;">
				<option disabled selected>+</option>
				{#each $viewRegistry as view}
					<option value={view.type}>{view.name}</option>
				{/each}
			</select>
		</li>
	</ul>
</div>

<style>
	#view-switcher {
		height: 25px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}
	.view-tab {
		padding-right: 7px;
		flex-flow: row;
		color: #999;
		user-select: none;
		cursor: pointer;
	}
	#view-switcher :global(.view-tab.active) {
		color: #000;
	}
	ref:newView {
		color: #999;
		font-weight: bold;
	}
	ref:newView:hover {
		color: #409fe7;
		cursor: pointer;
	}
	select {
		cursor: pointer;
		transform: translate(-14px, 0);
	}
</style>

<script>
export default {
	methods: {
		setActiveView (view) {
			this.store.set({ activeViewId: view.id });
		},
		addView (el) {
			if (el.value) {
				const { views, genNewView } = this.store.get();
				const newView = genNewView(el.value);
				views.push(newView);
				this.store.set({ views, activeViewId: newView.id });
				this.refs.dropdown.selectedIndex = 0;
			}
		}
	}
};
</script>
