<Tooltip ref:tooltip x="{x}" y="{y}" overTd="{overTd}" ttVal='{ttVal}'/>
<div ref:viewport on:scroll='refresh()' style='height: {height};' on:mousemove='set({ x: event.clientX - _bbox.x, y: event.clientY - _bbox.y })' bind:offsetHeight="viewportHeight">
	<div ref:container style='padding-top: {_top}px; padding-bottom: {_bottom}px;'>
		{#if fields.length}
			<div id="thead" style='transform: translateY({_headerOffset}px);'>
				{#each fields as field}
					<div class="cell header-cell" style="width: {dims[field.name]}px" data-type={field.type}>{field.name} </div>
				{/each}
			</div>
		{/if}
		<div id="tbody">
			{#each visible as item (item.index)}
				<div class='row'>
					{#each fields as field}
						<div class="cell {hasOverflow(item.data[field.name], field.name, dims, widthMultiplier)}" style="text-align:{alignByType(field.type)};width: {dims[field.name]}px;" on:mouseout="hideTooltip()" on:mouseover='fillTooltip(event)' on:click="printToConsole(event)">{parse(item.data[field.name])}</div>
					{/each}
				</div>
			{/each}
		</div>
	</div>
</div>

<style type="text/stylus">
	ref:viewport
		overflow-y auto
		-webkit-overflow-scrolling touch
	ref:container
		width 100%
		border-spacing 0
	#thead,
	.row
		white-space nowrap
	#thead
		position relative
		text-align left
		z-index 9

	.cell.header-cell
		z-index 9
		font-weight bold
		background-color #fff
		&:after
			content attr(data-type)
			font-weight normal
			color #ccc
			padding-left 7px
			display inline-block
			user-select none
	.cell
		border-right 1px solid #ccc
		border-bottom 1px solid #ccc
		padding 5px
		display inline-block
		vertical-align top
		overflow hidden
		&.has-overflow
			&:after
				content '...'
				position absolute
				bottom 0
				left calc(100% - 18px)
				background-color #fff
				width 16px
				height 20px
				line-height 3px
				padding 2px
				color #ccc
				box-shadow -3px 0px 8px #fff
</style>

<script>
export default {
	components: {
		Tooltip: '../components/Tooltip.html'
	},
	data () {
		return {
			start: 0,
			end: 0,
			height: '100%',
			itemHeight: 0,
			_top: 0,
			_bottom: 0,
			_props: {},
			_headerOffset: 0,
			overTd: false,
			widthMultiplier: 8,
			xScroll: 0,
			ttVal: ''
		};
	},
	helpers: {
		alignByType (type) {
			const rights = ['int', 'smallint', 'bigint', 'numeric'];
			if (rights.includes(type)) {
				return 'right';
			}
			return 'left';
		},
		parse (data) {
			if (typeof data === 'object') {
				return JSON.stringify(data);
			}
			return data;
		},
		hasOverflow (d, fieldName, dims, widthMultiplier) {
			const valString = typeof d !== 'string' ? JSON.stringify(d) : d;
			return (valString.length * widthMultiplier) > 150 ? 'has-overflow' : '';
		}
	},
	computed: {
		visible: ({ items, start, end }) => {
			return items.slice(start, end).map((data, i) => {
				return { index: i + start, data };
			});
		},
		dims: ({items, fields, widthMultiplier}) => {
			const dims = {};
			const MIN = 100;
			const MAX = 150;
			fields.forEach(field => {
				dims[field.name] = Math.max((field.name.length + field.type.length) + 150, MIN);
			});
			items.forEach(item => {
				fields.forEach(field => {
					const valString = typeof item[field.name] !== 'string' ? JSON.stringify(item[field.name]) : item[field.name];
					if ((dims[field.name] < valString.length * widthMultiplier)) {
						dims[field.name] = Math.min(valString.length * widthMultiplier, MAX);
					}
					dims[field.name] = Math.max(dims[field.name], MIN);
				});
			});
			return dims;
		}
	},
	oncreate () {
		const { items, _props } = this.get();
		const { container } = this.refs;
		this.set({_bbox: container.getBoundingClientRect()});
		const keys = Object.keys(this.options.data).filter(key => key !== 'items' && key !== 'component' && key !== 'height' && key !== 'itemHeight');
		if (keys.length) {
			const state = this.get();
			keys.forEach(key => {
				_props[key] = state[key];
			});
			this.set({ _props });
		}
		this.heightMap = [];
		this.rows = container.getElementsByClassName('row');
		if (items.length > 0) {
			this.initialise();
		}
		this.on('state', ({ changed, previous, current }) => {
			if (changed.items || changed.height || changed.itemHeight || changed.viewportHeight) {
				if (current.itemHeight && (changed.itemHeight || current.items.length > this.heightMap.length)) {
					this.heightMap = current.items.map(() => current.itemHeight);
				} else if (current.items.length > this.heightMap.length) {
					if (this.heightMap.length === 0) {
						this.initialise();
					} else {
						let height = 0;
						let i = 0;
						for (; i < this.heightMap.length; i += 1) height += this.heightMap[i];
						const avg = height / this.heightMap.length;
						for (; i < current.items.length; i += 1) this.heightMap[i] = avg;
					}
				}
				this.refresh();
			}
			if (keys.some(key => changed[key])) {
				const _props = {};
				keys.forEach(key => {
					_props[key] = current[key];
				});
				this.set({ _props });
			}
		});
	},
	methods: {
		initialise () {
			const { items, itemHeight, viewportHeight } = this.get();
			const { viewport } = this.refs;
			if (itemHeight) {
				this.heightMap = items.map(item => itemHeight);
				this.set({
					end: Math.min(items.length, Math.ceil(viewportHeight / itemHeight)),
					_bottom: items.length * itemHeight
				});
			} else {
				let height = 0;
				let i = 0;
				while (height < viewportHeight && i < items.length) {
					this.set({ end: i + 1 });
					const rowHeight = this.heightMap[i] = this.rows[i].offsetHeight;
					height += rowHeight;
					i += 1;
				}
				const end = i;
				const avg = Math.round(height / i);
				for (; i < items.length; i += 1) this.heightMap[i] = avg;
				this.set({
					_bottom: (items.length - end) * avg
				});
			}
		},
		refresh (el) {
			const { items, start, end, itemHeight, viewportHeight } = this.get();
			const { scrollTop, scrollLeft } = this.refs.viewport;
			let paddingTop = 0;
			let offset = 0;
			let i = 0;
			if (!itemHeight) {
				for (let v = 0; v < this.rows.length; v += 1) {
					this.heightMap[start + v] = this.rows[v].offsetHeight;
				}
			}
			for (; i < items.length; i += 1) {
				if (!(i in this.heightMap)) break;
				offset += this.heightMap[i];
				if (offset > scrollTop) break;
				paddingTop = offset;
			}
			const _headerOffset = scrollTop % (paddingTop || offset);
			this.set({_headerOffset});
			const newStart = i++;
			for (; i < items.length; i += 1) {
				if (offset >= scrollTop + viewportHeight) break;
				offset += this.heightMap[i];
			}
			const newEnd = i;
			if (newStart === start && newEnd === end) return;
			let paddingBottom = 0;
			for (; i < items.length; i += 1) paddingBottom += this.heightMap[i];
			this.set({
				_top: paddingTop,
				_bottom: paddingBottom,
				start: newStart,
				end: newEnd
			});
			if (newStart < start) {
				let d = 0;
				for (let i = newStart; i < start; i += 1) {
					const expectedHeight = this.heightMap[i];
					const actualHeight = this.rows[i - newStart].offsetHeight;
					d += actualHeight - expectedHeight;
				}
				this.refs.viewport.scrollTo(scrollLeft, this.refs.viewport.scrollTop + d);
			}
		},
		hideTooltip() {
			this.set({overTd: false});
		},
		fillTooltip(e) {
			this.set({overTd: true});
			const text = e.target.innerHTML;
			let val = text;
			try {
				val = JSON.stringify(JSON.parse(text), null, 2);
				this.set({ttVal: val});
			} catch (err) {
				this.set({ttVal: text});
			}
		},
		printToConsole(e) {
			const text = e.target.innerHTML;
			try {
				console.log(JSON.parse(text));
			} catch (err) {
				console.log(text);
			}
			if (e.metaKey === true) {
				var textArea = document.createElement('textarea');
				textArea.style.display = 'none';
				textArea.value = text;
				document.body.appendChild(textArea);
				textArea.focus();
				textArea.select();

				try {
					var successful = document.execCommand('copy');
					if (successful) {
						console.log('Copied cell to clipboard');
					} else {
						console.log('Clipboard copy failed');
					}
				} catch (err) {
					console.error('Unable to copy to clipboard', err);
				}
				document.body.removeChild(textArea);
			}
		}
	}
};
</script>
